@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.bg-menu-gradient {
  background: linear-gradient(
    144.39deg,
    #b333e9 -278.56%,
    #461873 -78.47%,
    #190028 91.61%
  );
}

.bg-menu-gradient2 {
  background: linear-gradient(
    -168.39deg,
    #b333e9 -278.56%,
    #461873 -78.47%,
    #190028 91.61%
  );
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #d4a0f1 0.89%,
    #c087e2 17.23%,
    #a96bda 42.04%,
    #8e56d1 55.12%,
    #7a42c2 71.54%,
    #5a189a 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-purple-gradient {
  background: linear-gradient(
    157.81deg,
    #d4a0f1 0.89%,
    #c087e2 17.23%,
    #a96bda 42.04%,
    #8e56d1 55.12%,
    #7a42c2 71.54%,
    #5a189a 100%
  );
}

.heading {
  display: flex;
  flex: 1;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 45px;
  line-height: 80px;
  color: white;
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
